<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_uef"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_uef"
        android:supportsRtl="true"
        android:theme="@style/Theme.Electric"
        tools:targetApi="31">

        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.CustomerEdit"></activity>
        <!-- Khai báo AddCustomer -->
        <activity
            android:name=".view.AddCustomer"
            android:exported="true" />

        <!-- Khai báo CustomerList (Danh sách khách hàng) -->
        <activity
            android:name=".view.CustomerList"
            android:exported="true" />

        <activity android:name=".view.UpdatePrice" />
        <activity android:name=".view.Settings" />
        <service android:name=".service.Music" />


    </application>

</manifest>
